.main-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}



#pokedex-heading{
letter-spacing: 5px;
}
.pokemon-list{
    margin-top: 10px;
height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    display: flex;
    align-items: center;
    height: 300px;
    width: 350px;
    flex-direction: column;
}

.card:hover{
    cursor: pointer;
    background-color: rgb(199, 180, 216);
}
.pokemon-img{
    width: 100%;
    height: 90%;  
  }
  h3{
    letter-spacing: 5px;
  }
.btns{
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn{
    cursor: pointer;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
    background-color: rgb(173, 215, 131);
}
.btn:hover{
    color: white;
    background-color: black;
}