.main-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}



#pokedex-heading{
letter-spacing: 5px;
}
.pokemon-list{
    margin-top: 10px;
height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    /* padding-top: 15px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 500px;
    width: 400px;
    flex-basis: 30%;
    flex-direction: column;
    /* border: 2px solid red; */
   
}

.card:hover{
    cursor: pointer;
    background-color: rgb(199, 180, 216);
}
/* .pics{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    border: 2px solid blue;
    width: 100%;
    border: 2px solid red;
} */
.pokemon-img{
    /* font-size: 100px; */
    /* border: 2px solid red; */
    width: 100%;
    height: 90%;  
    /* font-size: 10px; */
    object-fit: cover;
  }
  h3{
    letter-spacing: 5px;
  }
.btns{
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn{
    cursor: pointer;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
    background-color: rgb(173, 215, 131);
}
.btn:hover{
    color: white;
    background-color: black;
}