.Search-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 50px;
    width: 700px;
}

#pokemon-name-search{
    
/* height: 100%;
width: 100%; */
height: 50px;
width: 700px;

padding-left: 20px;
}